<?xml version="1.0"?>
<launch>
 <node respawn="false" pkg="comm_stereo_hlc"
	type="comm_stereo_hlc_node"
	name="comm_stereo_hlc"
	output="screen">
 	<!-- configuration for the comm_stereo_hlc -->
 	<param name="udp_port" type="int" value="1455" />
	<param name="upd_ip" type="string" value="192.168.0.103" />
 </node>
</launch>
